table, td {
   border: 1px solid #333;
   padding: 0px;
   background-color:#000;
   color:#fff;
   border-spacing: 0px;
   border-collapse: separate;
   text-align: center;
   vertical-align: middle;
}

td {
   width: 30px;
   height: 30px;
   padding: 2px;
}

.ship {
	background-color:#ddd;
}

.hit {
	background-color:red !important;
}

.attempted {
	background-color:#fff;
}

.input-tiny {
	width: 45px;
}

.margin-top-10 {
	margin: 10px;
}

.currentTurn {
	font-size: 17pt;
	padding:3px;
	border: 1px dashed #ccc;
}

.currentTurn span {
	background-color:yellow;
	display:inline-block;
	padding:4px;
	font-size:20pt;
}